/**
CSS for custom gallery set-up
**/

/**
THUMBNAILS:
**/
#galleriffic-thumbs ul.thumbs {
	margin: 0;
	padding: 0;
}

#galleriffic-thumbs ul.thumbs li {
	display: inline-block;
	padding: 0;
	margin: 0 10px 0 10px;
	list-style: none;
}

#galleriffic-thumbs ul.thumbs li.first {
	margin-left: 0;
}

#galleriffic-thumbs ul.thumbs li.last {
	margin-right: 0;
}

/**
CAPTION:
**/
.galleriffic-content #caption {
  float: right;
}

.galleriffic-content .caption {
  font-style: italic;
}

/**
NEXT/PREVIOUS IMAGE BUTTONS
**/
.galleriffic-content .nav-controls a.prev {
  margin-right: 20px;
}

.galleriffic-content .nav-controls {
  float: left;
}
